<div id="footer">
<p>Website content licensed under <a href="/license-cc-by-sa-4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a>.
<p>Design licensed under <a href="/license-cc-by-3.0/">Creative Commons Attribution 3.0 Unported.</a>
</div>

{% if site.editions[-1].submit %}
	<div id="banner">
		<div class="button"><a href="{{ site.editions[-1].submit }}">Submit</a></div>
		<h2>Submit your proposal!</h2>
	</div>
{% endif %}
