@charset 'UTF-8';

/*
 * Derived from the Linear template by TEMPLATED.  Licensed under
 * the Creative Commons Attribution 3.0 Unported license
 * (https://creativecommons.org/licenses/by/3.0/).
 */

/*********************************************************************************/
/* Box Model                                                                     */
/*********************************************************************************/

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	:root {
		--dark: #660066;
		--dark-bg-gradient: #880088;
		--dark-fg: #f1e5d5;
		--light: #f1e5d5;
		--light-bg-gradient: #f1d6b5;
		--light-fg: #446137;
		--link: #0077dd;
		--link-alt: #0099ff;
	}

	body, input, textarea, select {
		font-family: "Muli","Open Sans","OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	body {
		margin: 0;
		padding: 0;
		background-color: #ffffff;
	}

	body.fixed {
		background-position: 0px 0px;
		background-attachment: fixed;
	}

	a {
		color: var(--link);
	}

	dt,strong,b {
		color: var(--dark);
	}

	dt,strong,b,a {
		font-weight: 600;
	}

	h1,h2,h3,h4,h5,h6 {
		font-family: "Titillium Web","Open Sans","OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 500;
		color: var(--dark);
		margin-bottom: 0em;
	}

        .visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	dd {
		margin-bottom: 0.5em;
		margin-left: 0;
	}

	h1, .homepage h2 {
		letter-spacing: -0.025em;
		line-height: 1.15em;
		font-size: 3em;
		margin-top: 0.3em;
	}


	h2, .homepage h3 {
		font-size: 1.8em;
		letter-spacing: -0.025em;
		line-height: 1.15em;
	}

	h3, homepage h4 {
		font-size: 1.6em;
	}

	h4, h5, h6 {
		font-size: 1.5em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		font-weight: inherit;
	}

	pre {
		padding: 1em;
		border: 1px #000000 solid;
		max-width: 100%;
		overflow-x: auto;
	}

	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px var(--dark);
		margin: 2em 0 2em 0;
		padding: 0;
	}

	blockquote {
		border-left: solid 0.5em var(--dark);
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	dd + dt {
		margin-top: 1em;
	}

	dd p, li p {
		margin-top: 0.1em;
		margin-bottom: 0em;
	}

	.posted {
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 80%;
		color: var(--dark);
	}

	.clear {
		clear: both;
	}

	/* Sections/Articles */

	section,
	article {
		clear: both;
		margin: 1em 0 2em 0;
	}

	section > :first-child,
	article > :first-child {
		margin-top: 0;
	}

	section:first-child,
	article:first-child {
		margin-top: 0;
	}

	section > :last-child,
	article > :last-child {
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

	/* Images */

	img {
		max-width: 100%;
	}

	/* Lists */

	ul.no-bullet {
		margin-bottom: 0em;
		padding: 0;
	}

	ul.no-bullet li {
		margin: 0;
		padding: 0em 0em 1.5em 0em;
		list-style: none;
	}

	ul.category {
		margin: 0;
		padding: 0;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 80%;
		color: var(--dark);
	}

	ul.category li {
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 1em;
	}
	ul.category li::before {
		padding-right: 0.3em;
	}


	/* Buttons */

	.button {
		background: var(--dark-fg);
		font-size: 1.2em;
		color: var(--dark);
		text-align: center;
		border-radius: 0.25em;
	}

	.button a {
		padding: 0.8em 2em;
		color: inherit;
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

/*********************************************************************************/
/* Grid                                                                          */
/*********************************************************************************/

	/* Cells */

	.row > * {
		float: left;
		max-width: 100%;
	}

	/* Rows */

	.row:after {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row:first-child > * {
		padding-top: 0;
	}

	.row > * {
		padding-top: 0;
	}

/*********************************************************************************/
/* Icons                                                                         */
/* Powered by Font Awesome by Dave Gandy | http://fontawesome.io                 */
/* Licensed under the SIL OFL 1.1 (font), MIT (CSS)                              */
/*********************************************************************************/

	.fa {
		text-decoration: none;
	}

	.fa:before {
		display:inline-block;
		font-family: FontAwesome;
		font-size: 1.25em;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header {
		position: relative;
		background-color: var(--dark);
		background: -webkit-linear-gradient(0deg, var(--dark) 0%,var(--dark-bg-gradient) 100%);
		background: linear-gradient(0deg, var(--dark) 0%, var(--dark-bg-gradient) 100%);
		color: var(--dark-fg);
	}

	#header:after {
		content: '';
		position: relative;
		width: 0;
		height: 6em;
		left: 0;
		top: 0;
		float: left;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#header > h1 {
		font-size: 1.2em;
		color: inherit;
	}

	#header a > :first-child {
		font-size: 1.3em;
		font-weight: 600;
	}

	#header a > span {
		font-weight: 300;
		margin-top: 0.7em;
		margin-bottom: 0.3em;
		display: block;
		white-space: nowrap;
	}

	#header a {
		display: block;
	}

	#header a:hover {
		text-decoration: none;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	.main {
		clear: left;
	}

	.main {
		padding: 0em 1em;
	}

	.sponsors h2 {
		margin-top: 20px;
	}
	.sponsors img {
		display: block;
	}
	.sponsors div > * {
		display: block;
	}

	.sponsorship {
		margin: 0px auto;
		width: max-content;
	}

	.sponsorship td + td {
		text-align: center;
		min-width: 5em;
	}
	.sponsorship th, .sponsorship table > :last-child td {
		border-top: 1px solid var(--dark);
		border-bottom: 1px solid var(--dark);
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

        #footer::before {
                content: '';
                width: 25%;
                left: 37.5%;
                height: 3px;
                top: 0;
                position: absolute;
                border-top: 1px solid var(--dark);
        }

        #footer {
                margin-top: 2.5em;
                padding: 0.5em;
                text-align: center;
                position: relative;
                clear: both;
                padding-bottom: 7em;
        }

	#footer p {
		margin-top: 0.4em;
		margin-bottom: 0.4em;
	}

	#banner {
		padding-left: 1em;
		padding-right: 1em;
		background: var(--dark);
		color: var(--dark-fg);
		position: fixed;
		bottom: 0px;
		width: 100%;
		box-shadow: 0px -9px 15px 0px rgba(241, 229, 213, 0.25);
	}

	#banner::after {
		content: '';
		clear: both;
	}

	#banner h2 {
		text-align: left;
		color: inherit;
		font-size: 1.8em;
		font-weight: 500;
		margin-top: 1.25em;
		margin-bottom: 0.75em;
	}

	#banner .button {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
		float: right;
	}
